
<div{{ attributes }} class="storleden-footer flex-container">
  
    
      <div class="flex-item footer-logo">
        {{ content.field_footer_logo }}
      </div>
      <div class="flex-item sag-hej">
        {{ content.field_sag_hej }}
      </div>
      <div class="flex-item besok-oss">
        {{ content.field_besok_oss }}
      </div>
      <div class="flex-item social">
        
          Vi är sociala <br>
          {{ content.field_facebook_url }}
          {{ content.field_twitter_url }}
          
        
      </div>
    
  
</div>