



<div class="container projects storleden-module">
	<div class="page-title">
		<h3>VÅRA SENASTE PROJEKT</h3>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-6 image">
			<div class="outer">
				<div class="cat">{{ nodes[0].cat }}</div>
				<img src="{{ nodes[0].img }}" >
				<div class="over">
					<div class="over-title">{{nodes[0].title}}</div> 
					<div class="ingress">{{nodes[0].ingress}}</div> 
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="outer">
				<div class="cat">{{ nodes[1].cat }}</div>
				<img src="{{ nodes[1].img }}" >
					<div class="over">
						<div class="over-title">{{nodes[1].title}}</div> 
						<div class="ingress">{{nodes[1].ingress}}</div> 
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="outer">
				<div class="cat">{{ nodes[2].cat }}</div>
				<img src="{{ nodes[2].img }}" >
					<div class="over">
						<div class="over-title">{{nodes[2].title}}</div> 
						<div class="ingress">{{nodes[2].ingress}}</div> 
					</div>			
			</div>
		</div>
		<div class="col-sm-6">
			<div class="outer">
				<div class="cat">{{ nodes[3].cat }}</div>
				<img src="{{ nodes[3].img }}" >
					<div class="over">
						<div class="over-title">{{nodes[3].title}}</div> 
						<div class="ingress">{{nodes[3].ingress}}</div> 
					</div>			
			</div>
		</div>
	</div>
	<a href="allprojects" class=""><button class="btn btn-info" >Se vår portfolio</button></a>
</div>







