<div class="link-button">
	<div class="link-inner">
		<div class="button-ingress">
			är du redo för nästa steg?
		</div>
		<a href="{{ url }}"> <button>{{ buttonName }}</button> </a>
	</div>
</div>





	{#
	<form  method="{{ sendMethod }}" action="{{ url }}">
		<input name="" value="{{ buttonName }}" type="submit" >
	</form>
	#}